@font-face {
  font-family:'MISTRAL';
  src:url('font/MISTRAL.woff');
}
 body {
  margin: 0px;
  padding-bottom: 400px;
}
.wrapper {
  width: 100%;
}
.wrapper-1 {
  position: relative;
  display: inline-block;
  margin: -5px;
  width: 20%;
  height: 270px;
  overflow: hidden;
}
.container-1 {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 100%;
  transform: rotate(-5deg) scale(1.2);
}
.container-1 div {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}
.container-1 div::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: url(2.png);
  position: absolute;
}
.container-1 div:nth-child(10n+1):before {
  background: url(2.png) 30px 30px;
}
.container-1 div:nth-child(10n+2):before {
  background: url(2.png) 30px 62px;
}
.container-1 div:nth-child(10n+3):before {
  background: url(2.png) 30px 94px;
}
.container-1 div:nth-child(10n+4):before {
  background: url(2.png) 62px 30px;
}
.container-1 div:nth-child(10n+5):before {
  background: url(2.png) 94px 30px;
}
.container-1 div:nth-child(10n+6):before {
  background: url(2.png) 30px 126px;
}
.container-1 div:nth-child(10n+7):before {
  background: url(2.png) 30px 154px;
}
.container-1 div:nth-child(10n+8):before {
  background: url(2.png) 124px 30px;
}
.container-1 div:nth-child(10n+9):before {
  background: url(2.png) 154px 30px;
}



.wrapper-2 {
  position: relative;
  display: inline-block;
  margin: -5px;
  width: 60%;
  height: 270px;
  overflow: hidden;
}
.container-2 {
  position: absolute;
  top: -20px;
  left: 10px;
  width: 100%;
  transform: rotate(-5deg) scale(1.2);
}
.container-2 div {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}
.container-2 div::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: url(2.png);
  position: absolute;
}
.container-2 div:nth-child(10n+1):before {
  background: url(2.png) 30px 62px;
}
.container-2 div:nth-child(10n+2):before {
  background: url(2.png) 30px 92px;
}
.container-2 div:nth-child(10n+3):before {
  background: url(2.png) 30px 124px;
}
.container-2 div:nth-child(10n+4):before {
  background: url(2.png) 30px 154px;
}
.container-2 div:nth-child(10n+5):before {
  background: url(2.png) 30px 186px;
}
.container-2 div:nth-child(10n+6):before {
  background: url(2.png) 30px 218px;
}
.container-2 div:nth-child(10n+7):before {
  background: url(2.png) 30px 250px;
}
.container-2 div:nth-child(10n+8):before {
  background: url(2.png) 30px 282px;
}
.container-2 div:nth-child(10n+9):before {
  background: url(2.png) 282px 30px;
}
.desk {
  font-family: 'MISTRAL';
  font-size: 50px;
  font-weight: bold;
  border: 3px solid black;
  outline: 5px solid white;
  padding: 10px;
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 5;
  background-color: white;
  opacity: 0.95;
}

.wrapper-3 {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 270px;
  overflow: hidden;
}
.container-3 {
  position: absolute;
  top: -10px;
  left: 55px;
  width: 100%;
  transform: rotate(-5deg) scale(1.2);
}
.container-3 div {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}
.container-3 div::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: url(2.png);
  position: absolute;
}
.container-3 div:nth-child(10n+1):before {
  background: url(2.png) 282px 250px;
}
.container-3 div:nth-child(10n+2):before {
  background: url(2.png) 282px 218px;
}
.container-3 div:nth-child(10n+3):before {
  background: url(2.png) 282px 186px;
}
.container-3 div:nth-child(10n+4):before {
  background: url(2.png) 282px 154px;
}
.container-3 div:nth-child(10n+5):before {
  background: url(2.png) 218px 30px;
}
.container-3 div:nth-child(10n+6):before {
  background: url(2.png) 186px 30px;
}
.container-3 div:nth-child(10n+7):before {
  background: url(2.png) 218px 250px;
}
.container-3 div:nth-child(10n+8):before {
  background: url(2.png) 218px 282px;
}
.container-3 div:nth-child(10n+9):before {
  background: url(2.png) 186px 62px;
}



.buttons {
  width: 100%;
  background-color: white;
  height: auto;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  padding-top: 10px;
}
.buttons-1, .buttons-2 {
  width: 98%;
  height: 130px;
  margin: 0 auto;
  background-color: white;
}
.buttons-1 {
  background-color: white;
  padding: 20px 0 20px 20px;
  border: 2px solid grey;
}
.buttons-2 {
  background-color: black;
  padding: 20px 0 20px 20px;
  border: 2px solid grey;
}
.pink{
  color: white;
  background-color: #db55a6;
  border: none;
  font-size: 29px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  top: 10px;
  left: 20px;
}
.green {
  display: inline-block;
  background-color: #a7c744;
  border: none;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 5px;
  position: relative;
  left: 18px;
  top: 10px;
}
.blue {
  display: inline-block;
  background-color: #7ca2c9;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 8px;
  position: relative;
  top: 50px;
  right: 250px;
}
.red {
  display: inline-block;
  background-color: #dc4543;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 8px;
  position: relative;
  top: 50px;
  right: 250px;
}
.orange {
  display: inline-block;
  background-color: #d67f4f;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 8px;
  position: relative;
  top: 85px;
  right: 425px;
}
.yellow {
  display: inline-block;
  background-color: #e6c354;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 8px;
  position: relative;
  top: 85px;
  right: 425px;
}
