.-ot-icons_size {
  width: 100%;
}
.-ot-icons_flex {
  display: flex;
}
.-ot-talents_size {
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 50px 20px;
}
.-ot-talents_bgOrange {
  background-color: #e4ae58;
}
.-ot-talents_bgRed {
  background-color: #e9714c;
}
.-ot-talents_bgBlack {
  background-color: #161616;
}
.-ot-talents_bgWhite {
  background-color: #ffffff;
}
.-ot-talents__icon {
  font-size: 50px;
  color: white;
}
.-ot-talents__icon_bg {
  font-size: 50px;
  color: black;
}
.-ot-talents__name {
  font-size: 30px;
  color: white;
  margin: 30px 0;
}
.-ot-talents__discription {
  font-size: 26px;
  color: white;
}
.-ot-talents__name_color {
  color: black;
}
.-ot-talents__discription_color {
  color: black;
}
@media (max-width: 750px) {
  .-ot-icons_flex {
    flex-direction: column;
  }
  .-ot-talents_size {
    width: 100%;
  }
  .-ot-talents_flexOrd {
    order: -1;
  }
}
@media (min-width: 751px) and (max-width: 1150px) {
  .-ot-icons_flex {
    flex-wrap: wrap;
  }
  .-ot-talents_size {
    width: 50%;
  }
}
